# Do not upload models to git
models/english-128/*
models/english-300/*
models/spanish-128/*
models/spanish-300/*

# Do not upload virtual enviroment
virtual_env/*
__pycache__/*

# Do not upload local data
static/uploads/*
metadata/*