<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- Custom CSS -->
    
    <!-- Destruye el layout
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    -->

    <title>{% block title %} SIR {% endblock %} </title>
  </head>
  <body>

    <!-- Header -->
    <div class="py-4 px-3 mb-4 bg-light">
        <div class="media d-flex align-items-center">
            <!-- <img src="https://res.cloudinary.com/mhmd/image/upload/v1556074849/avatar-1_tcnd60.png" alt="..." width="65" class="mr-3 rounded-circle img-thumbnail shadow-sm"> -->
            <div class="media-body">
                <h4 class="m-0">Semantic Image Retrieval</h4>
                <p class="font-weight-light text-muted mb-0">Bastian Díaz</p>
            </div>
        </div>
    </div>

    <div class="row">  
        <!-- Vertical navbar -->
        <div class="col-sm-2 collapse show" id="sidebar-div">
            <div class="vertical-nav bg-white" id="sidebar">
            
                <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0">Main</p>
            
                <ul class="nav flex-column bg-white mb-0">
                <li class="nav-item">
                    <a href="{{ url_for('search') }}" class="nav-link text-dark font-italic {% block search_active %}  {% endblock %}">
                        <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
                        Search
                    </a>
                </li>
                <!--
                <li class="nav-item">
                    <a href="#" class="nav-link text-dark font-italic">
                        <i class="fa fa-address-card mr-3 text-primary fa-fw"></i>
                        Images
                    </a>
                </li>
                -->
                <li class="nav-item">
                    <a href="{{ url_for('upload_files') }}" class="nav-link text-dark font-italic {% block upload_active %} {% endblock %}">
                      <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
                        Upload
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link text-dark font-italic {% block config_active %} {% endblock %}">
                      <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
                        Config: {% if cfg %} {{cfg.lower()}} {% endif %}
                    </a>
                </li>
                </ul>
                
                <!-- Second Menu -->
                <!-- 
                <p class="text-gray font-weight-bold text-uppercase px-3 small py-4 mb-0">Charts</p>
            
                <ul class="nav flex-column bg-white mb-0">
                <li class="nav-item">
                    <a href="#" class="nav-link text-dark font-italic">
                        <i class="fa fa-area-chart mr-3 text-primary fa-fw"></i>
                        Area charts
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link text-dark font-italic">
                        <i class="fa fa-bar-chart mr-3 text-primary fa-fw"></i>
                        Bar charts
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link text-dark font-italic">
                        <i class="fa fa-pie-chart mr-3 text-primary fa-fw"></i>
                        Pie charts
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link text-dark font-italic">
                        <i class="fa fa-line-chart mr-3 text-primary fa-fw"></i>
                        Line charts
                    </a>
                </li>
                </ul>
                 -->
            </div>
        </div>
        <!-- End vertical navbar -->

        <!-- Page content holder -->
        <div class="col-sm-10">
            <div class="page-content " id="content">
                <!-- Toggle button -->
                <!--  
                <button id="sidebarCollapse" type="button" data-toggle="collapse" class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4" data-target="#sidebar-div"><i class="fa fa-bars mr-2"></i><small class="text-uppercase font-weight-bold">Toggle</small></button>
                -->
                {% block content %}
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                dolor.
                {% endblock %}

                </p>
            </div>
        </div>
        
    </div>
    <!-- End demo content -->


    <!-- Optional JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.1.0/dist/lazyload.min.js"></script>
    <script>
        (function () {
          function logElementEvent(eventName, element) {
            console.log(Date.now(), eventName, element.getAttribute("data-src"));
          }
  
          var callback_enter = function (element) {
            logElementEvent("🔑 ENTERED", element);
          };
          var callback_exit = function (element) {
            logElementEvent("🚪 EXITED", element);
          };
          var callback_loading = function (element) {
            logElementEvent("⌚ LOADING", element);
          };
          var callback_loaded = function (element) {
            logElementEvent("👍 LOADED", element);
          };
          var callback_error = function (element) {
            logElementEvent("💀 ERROR", element);
            element.src = "https://via.placeholder.com/440x560/?text=Error+Placeholder";
          };
          var callback_finish = function () {
            logElementEvent("✔️ FINISHED", document.documentElement);
          };
          var callback_cancel = function (element) {
            logElementEvent("🔥 CANCEL", element);
          };
  
          var ll = new LazyLoad({
            class_applied: "lz-applied",
            class_loading: "lz-loading",
            class_loaded: "lz-loaded",
            class_error: "lz-error",
            // Assign the callbacks defined above
            callback_enter: callback_enter,
            callback_exit: callback_exit,
            callback_cancel: callback_cancel,
            callback_loading: callback_loading,
            callback_loaded: callback_loaded,
            callback_error: callback_error,
            callback_finish: callback_finish
          });
        })();
      </script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
        
</body>
</html>