{% extends 'base.html' %}

{% block title %}
  Search
{% endblock %}

{% block upload_active %} 
active  bg-light 
{% endblock %}

{% block content %}
    <!-- Search form -->
    <form method="post" enctype="multipart/form-data">
        <input type="file" multiple="" name="file[]">
        <input type=submit value=Upload>
    </form>

    <div class="ml-0 mt-3 mb-1 col-md-8">
      <p>Cuando subas fotos el sistema comenzará a indexarlas, lo que puede tomar un par de minutos dependiendo de la cantidad de imágenes.</p>
    </div>
{% endblock %}